# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ApiUkol.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projekty\ApiUkol\.idea\.idea.ApiUkol\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
